{% extends "GlossaryBundle::_base.html.twig" %}

{% block headline %}
    {% trans %}Overview{% endtrans %}
{% endblock %}

{% block glossaryContent %}
    <p class="text">
        {% trans %}...{% endtrans %}
    </p>

    <ul>
        <li><a href="{{ path('glossary_resting_heart_rate') }}">{% trans %}Resting heart rate{% endtrans %}</a></li>
        <li><a href="{{ path('glossary_maximal_heart_rate') }}">{% trans %}Maximal heart rate{% endtrans %}</a></li>
        <li><a href="{{ path('glossary_vo2max') }}">VO<sub>2</sub>max</a></li>
        <li><a href="{{ path('glossary_marathon_shape') }}">{% trans %}Marathon shape{% endtrans %}</a></li>
        <li><a href="{{ path('glossary_rpe') }}">RPE</a></li>
        <li><a href="{{ path('glossary_trimp') }}">TRIMP</a></li>
        <li><a href="{{ path('glossary_atl') }}">ATL</a></li>
        <li><a href="{{ path('glossary_ctl') }}">CTL</a></li>
        <li><a href="{{ path('glossary_easy_trimp') }}">{% trans %}Easy TRIMP{% endtrans %}</a></li>
        <li><a href="{{ path('glossary_monotony') }}">{% trans %}Monotony{% endtrans %}</a></li>
        <li><a href="{{ path('glossary_training_strain') }}">{% trans %}Training strain{% endtrans %}</a></li>
        <li><a href="{{ path('glossary_hrv') }}">{% trans %}Heart rate variability{% endtrans %}</a></li>
        <li><a href="{{ path('glossary_training_effect') }}">{% trans %}Training effect{% endtrans %}</a></li>
        <li><a href="{{ path('glossary_performance_condition') }}">{% trans %}Performance condition{% endtrans %}</a></li>
        <li><a href="{{ path('glossary_swolf') }}">SWOLF</a></li>
        <li><a href="{{ path('glossary_windchill') }}">{% trans %}Windchill{% endtrans %}</a></li>
        <li><a href="{{ path('glossary_heat_index') }}">{% trans %}Heat index{% endtrans %}</a></li>
    </ul>
{% endblock %}
