{% extends "GlossaryBundle::_base.html.twig" %}

{% block headline %}
    {% trans %}Overview{% endtrans %}
{% endblock %}

{% block glossaryContent %}
    {#
    <p class="text">
        ...
    </p>
    #}

    <ul>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-resting-heart-rate') }}">{% trans %}Resting heart rate{% endtrans %}</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-maximum-heart-rate') }}">{% trans %}Maximum heart rate{% endtrans %}</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-vo2max') }}">VO<sub>2</sub>max</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-marathon-shape') }}">{% trans %}Marathon shape{% endtrans %}</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-rpe') }}">RPE</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-trimp') }}">TRIMP</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-atl') }}">ATL</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-ctl') }}">CTL</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-tsb') }}">TSB</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-easy-trimp') }}">{% trans %}Easy TRIMP{% endtrans %}</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-monotony') }}">{% trans %}Monotony{% endtrans %}</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-training-strain') }}">{% trans %}Training strain{% endtrans %}</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-hrv') }}">{% trans %}Heart rate variability{% endtrans %}</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-training-effect') }}">{% trans %}Training effect{% endtrans %}</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-performance-condition') }}">{% trans %}Performance condition{% endtrans %}</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-running-effectiveness') }}">{% trans %}Running Effectiveness{% endtrans %}</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-efficiency-index') }}">{% trans %}Efficiency Index{% endtrans %}</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-swolf') }}">SWOLF</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-windchill') }}">{% trans %}Windchill{% endtrans %}</a></li>
        <li><a {{ urlClass | raw }} href="{{ path('glossary-heat-index') }}">{% trans %}Heat index{% endtrans %}</a></li>
    </ul>
{% endblock %}
