{% extends "GlossaryBundle::_base.html.twig" %}

{% import 'GlossaryBundle::_macro/references.html.twig' as ref %}
{% import 'GlossaryBundle::_macro/see_also.html.twig' as see %}

{% block headline %}
    {% trans %}Chronic Training Load{% endtrans %} (CTL)
{% endblock %}

{% block glossaryContent %}
    <p class="text">
        {% trans with {
            '%trimp%': '<a href="' ~ path('glossary-trimp') ~ '">TRIMP</a>'
        } %}Chronic Training Load represents your current degree of fitness, being an exponentially weighted average of your training load (i.e. %trimp%) over a period of 42 days by default.{% endtrans %}
    </p>

    <p class="text">
        {% trans with {
            '%atl%': '<a href="' ~ path('glossary-atl') ~ '">ATL</a>'
        } %}Similar to %atl%, Runalyze uses the alltime maximum CTL to express current CTL as percentage.{% endtrans %}
    </p>

    {{ see.seeAlsoHead() }}
    {{ see.seeAlsoLink(path('glossary-trimp'), 'TRIMP') }}
    {{ see.seeAlsoLink(path('glossary-atl'), 'ATL') }}
    {{ see.seeAlsoFoot() }}

    {{ ref.referencesHead() }}
    {{ ref.singleReferenceLink("http://fellrnr.com/wiki/Modeling_Human_Performance", "Fellrnr.com - Modeling Human Performance") }}
    {{ ref.referencesFoot() }}
{% endblock %}
