{% extends "GlossaryBundle::_base.html.twig" %}

{% import 'GlossaryBundle::_macro/references.html.twig' as ref %}
{% import 'GlossaryBundle::_macro/see_also.html.twig' as see %}

{% block glossaryHeader %}
    {% trans %}Training Stress Balance{% endtrans %} (TSB)
{% endblock %}

{% block glossaryContent %}
    <p class="text">
        {% trans %}Training stress balance is the difference between CTL and ATL (in absolute values) and can help as indicator for hard training (negative values) and rest (positive values).{% endtrans %}
        {% trans %}If an important race is ahead, TSB should be clearly positive. As levels of CTL and ATL differ from athlete to athlete, no concrete suggestions can be made.{% endtrans %}
    </p>

    {{ see.seeAlsoHead() }}
    {{ see.seeAlsoLink(path('glossary-trimp'), 'TRIMP') }}
    {{ see.seeAlsoLink(path('glossary-ctl'), 'ATL') }}
    {{ see.seeAlsoLink(path('glossary-ctl'), 'CTL') }}
    {{ see.seeAlsoLink(path('glossary-easy-trimp'), 'Easy TRIMP'|trans) }}
    {{ see.seeAlsoFoot() }}

    {{ ref.referencesHead() }}
    {{ ref.singleReferenceTextWithLink("Calvert, T. W., Banister, E. W., Savage, M. V., Bach, T.: A Systems Model of the Effects of Training on Physical Performance, IEEE Transactions on Systems, Man, and Cybernetics, volume SMC-6, issue 2, 1976, pp. 94–102", "http://dx.doi.org/10.1109/TSMC.1976.5409179", "doi 10.1109/TSMC.1976.5409179") }}
    {{ ref.singleReferenceLink("http://fellrnr.com/wiki/Modeling_Human_Performance", "Fellrnr.com - Modeling Human Performance") }}
    {{ ref.singleReferenceLink("https://www.trainingpeaks.com/blog/the-science-of-the-performance-manager/", "The Training Stress Balance model by Andrew Coggan") }}
    {{ ref.referencesFoot() }}
{% endblock %}
